In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# データの生成
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
s.abs

<bound method NDFrame.abs of 0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64>

In [4]:
# 日付のデータ生成
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
# 6 * 4のランダムデータを作成し、直前に作成した日付のデータとjoin
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  1.806091  0.255567  0.652085 -1.062545
2013-01-02  0.369883  1.756856  0.581641  1.525735
2013-01-03  0.351540  0.461697  1.174912 -0.930080
2013-01-04 -0.200696 -0.849749 -0.714517 -0.706955
2013-01-05 -1.111274 -1.477041 -1.246210  0.009496
2013-01-06  0.231975  1.869202  1.075737  0.695759

In [6]:
pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

                   A         B         C         D
2013-01-01 -0.234443 -0.772571 -0.334946  1.795371
2013-01-02  0.356602  0.392625 -1.296861 -0.054487
2013-01-03 -1.635610  0.523850  0.700609 -0.489930
2013-01-04  0.414524  1.474548  1.487924 -0.454971
2013-01-05 -0.669030 -0.361449  0.881614 -1.144910
2013-01-06 -1.071722 -0.791521 -1.518759 -1.800215

In [7]:
df2 = pd.DataFrame({ 'A' : 1.,
             'B' : pd.Timestamp('20130102'),
             'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
             'D' : np.array([3] * 4,dtype='int32'),
             'E' : pd.Categorical(["test","train","test","train"]),
             'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [8]:
# Tで転地行列取得
df2.T

,0,1,2,3
A,1,1,1,1
B,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00,2013-01-02 00:00:00
C,1,1,1,1
D,3,3,3,3
E,test,train,test,train
F,foo,foo,foo,foo

In [9]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [10]:
df2.A

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

In [11]:
df.head()

                   A         B         C         D
2013-01-01  1.806091  0.255567  0.652085 -1.062545
2013-01-02  0.369883  1.756856  0.581641  1.525735
2013-01-03  0.351540  0.461697  1.174912 -0.930080
2013-01-04 -0.200696 -0.849749 -0.714517 -0.706955
2013-01-05 -1.111274 -1.477041 -1.246210  0.009496

In [12]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.200696 -0.849749 -0.714517 -0.706955
2013-01-05 -1.111274 -1.477041 -1.246210  0.009496
2013-01-06  0.231975  1.869202  1.075737  0.695759

In [13]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [14]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [15]:
df.values

array([[ 1.80609092,  0.25556679,  0.65208537, -1.06254525],
       [ 0.36988282,  1.75685639,  0.58164141,  1.52573467],
       [ 0.35154033,  0.46169744,  1.17491168, -0.93008011],
       [-0.20069648, -0.84974915, -0.71451747, -0.70695532],
       [-1.11127408, -1.47704149, -1.24621017,  0.00949639],
       [ 0.23197532,  1.869202  ,  1.07573663,  0.69575947]])

In [16]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.241253  0.336089  0.253941 -0.078098
std    0.948911  1.347956  0.997778  1.026575
min   -1.111274 -1.477041 -1.246210 -1.062545
25%   -0.092529 -0.573420 -0.390478 -0.874299
50%    0.291758  0.358632  0.616863 -0.348729
75%    0.365297  1.433067  0.969824  0.524194
max    1.806091  1.869202  1.174912  1.525735

In [17]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    1.806091    0.369883    0.351540   -0.200696   -1.111274    0.231975
B    0.255567    1.756856    0.461697   -0.849749   -1.477041    1.869202
C    0.652085    0.581641    1.174912   -0.714517   -1.246210    1.075737
D   -1.062545    1.525735   -0.930080   -0.706955    0.009496    0.695759

In [18]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -1.062545  0.652085  0.255567  1.806091
2013-01-02  1.525735  0.581641  1.756856  0.369883
2013-01-03 -0.930080  1.174912  0.461697  0.351540
2013-01-04 -0.706955 -0.714517 -0.849749 -0.200696
2013-01-05  0.009496 -1.246210 -1.477041 -1.111274
2013-01-06  0.695759  1.075737  1.869202  0.231975

In [19]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2013-01-06  0.231975  1.869202  1.075737  0.695759
2013-01-05 -1.111274 -1.477041 -1.246210  0.009496
2013-01-04 -0.200696 -0.849749 -0.714517 -0.706955
2013-01-03  0.351540  0.461697  1.174912 -0.930080
2013-01-02  0.369883  1.756856  0.581641  1.525735
2013-01-01  1.806091  0.255567  0.652085 -1.062545

In [20]:
df.sort_index(axis=0, ascending=True)

                   A         B         C         D
2013-01-01  1.806091  0.255567  0.652085 -1.062545
2013-01-02  0.369883  1.756856  0.581641  1.525735
2013-01-03  0.351540  0.461697  1.174912 -0.930080
2013-01-04 -0.200696 -0.849749 -0.714517 -0.706955
2013-01-05 -1.111274 -1.477041 -1.246210  0.009496
2013-01-06  0.231975  1.869202  1.075737  0.695759

In [21]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-05 -1.111274 -1.477041 -1.246210  0.009496
2013-01-04 -0.200696 -0.849749 -0.714517 -0.706955
2013-01-01  1.806091  0.255567  0.652085 -1.062545
2013-01-03  0.351540  0.461697  1.174912 -0.930080
2013-01-02  0.369883  1.756856  0.581641  1.525735
2013-01-06  0.231975  1.869202  1.075737  0.695759

In [22]:
df.sort_values(by='B', ascending=False)

                   A         B         C         D
2013-01-06  0.231975  1.869202  1.075737  0.695759
2013-01-02  0.369883  1.756856  0.581641  1.525735
2013-01-03  0.351540  0.461697  1.174912 -0.930080
2013-01-01  1.806091  0.255567  0.652085 -1.062545
2013-01-04 -0.200696 -0.849749 -0.714517 -0.706955
2013-01-05 -1.111274 -1.477041 -1.246210  0.009496

In [23]:
df['A']

2013-01-01    1.806091
2013-01-02    0.369883
2013-01-03    0.351540
2013-01-04   -0.200696
2013-01-05   -1.111274
2013-01-06    0.231975
Freq: D, Name: A, dtype: float64

In [24]:
df[0:3]

                   A         B         C         D
2013-01-01  1.806091  0.255567  0.652085 -1.062545
2013-01-02  0.369883  1.756856  0.581641  1.525735
2013-01-03  0.351540  0.461697  1.174912 -0.930080

In [25]:
df.iloc[0:3,0:2]

                   A         B
2013-01-01  1.806091  0.255567
2013-01-02  0.369883  1.756856
2013-01-03  0.351540  0.461697

In [26]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02  0.369883  1.756856  0.581641  1.525735
2013-01-03  0.351540  0.461697  1.174912 -0.930080
2013-01-04 -0.200696 -0.849749 -0.714517 -0.706955

In [27]:
# locで取得対象を指定
df.loc[dates[0]]

A    1.806091
B    0.255567
C    0.652085
D   -1.062545
Name: 2013-01-01 00:00:00, dtype: float64

In [28]:
df.loc[:,['A','B']]

                   A         B
2013-01-01  1.806091  0.255567
2013-01-02  0.369883  1.756856
2013-01-03  0.351540  0.461697
2013-01-04 -0.200696 -0.849749
2013-01-05 -1.111274 -1.477041
2013-01-06  0.231975  1.869202

In [29]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02  0.369883  1.756856
2013-01-03  0.351540  0.461697
2013-01-04 -0.200696 -0.849749

In [30]:
df.loc['20130102',['A','B']]

A    0.369883
B    1.756856
Name: 2013-01-02 00:00:00, dtype: float64

In [31]:
df.loc[dates[0],'A']

1.8060909159853376

In [32]:
df.at[dates[0],'A']

1.8060909159853376